---
layout: mp4downloader
shadowbox: 1
title: Capturas de Pantalla
lang: es
langs:
  - name: English
    page: screenshots.html
  - name: "Español"
    page: screenshots.es.html
---
<h2>Capturas de Pantalla</h2>
<p>Haz clic en una imagen para ver una versión más grande y más detallada.</p>

{% assign url = 'images/screenshots/toolbar.png' %}
{% assign thumburl = 'images/screenshots/toolbar-button.png' %}
{% assign id = 'Toolbarbutton' %}
{% assign caption = 'botón de barra de herramientas' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/prefs-general.png' %}
{% assign thumburl = 'images/screenshots/prefs-general-thumb.png' %}
{% assign id = 'Optionsdialog' %}
{% assign caption = 'preferencias (general)' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/prefs-download-location.png' %}
{% assign thumburl = 'images/screenshots/prefs-download-location-thumb.png' %}
{% assign id = 'Preferences_DownloadLocation' %}
{% assign caption = 'preferencias (ubicación de descargar)' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/prefs-default-filename.png' %}
{% assign thumburl = 'images/screenshots/prefs-default-filename-thumb.png' %}
{% assign id = 'Preferences_DefaultFilename' %}
{% assign caption = 'preferencias (nombre de archivo predeterminado)' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/video-page-youtube.png' %}
{% assign thumburl = 'images/screenshots/video-page-youtube-thumb.png' %}
{% assign id = 'DownloadbuttonplacedinsideYouTubevideopage' %}
{% assign caption = 'botón de descargar en la página de un vídeo de YouTube' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/video-page-dailymotion.png' %}
{% assign thumburl = 'images/screenshots/video-page-dailymotion-thumb.png' %}
{% assign id = 'DownloadbuttonplacedinsideDailymotionvideopage' %}
{% assign caption = 'botón de descargar en la página de un vídeo de Dailymotion' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/video-page-vimeo.png' %}
{% assign thumburl = 'images/screenshots/video-page-vimeo-thumb.png' %}
{% assign id = 'DownloadbuttonplacedinsideVimeovideopage' %}
{% assign caption = 'botón de descargar en la página de un vídeo de Vimeo' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/context-menu.png' %}
{% assign thumburl = 'images/screenshots/context-menu-thumb.png' %}
{% assign id = 'Contextmenuofvideopage' %}
{% assign caption = 'menú contextual de una página de video' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/context-menu-link.png' %}
{% assign thumburl = 'images/screenshots/context-menu-link.png' %}
{% assign id = 'Contextmenuoflinktovideo' %}
{% assign caption = 'menú contextual de un enlace a un vídeo' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/embed-youtube.png' %}
{% assign thumburl = 'images/screenshots/embed-youtube-thumb.png' %}
{% assign id = 'DownloadbuttonplacedbelowembeddedYouTubevideo' %}
{% assign caption = 'botón de descargar debajo de un vídeo de YouTube embebido' %}
{% include screenshot.html %}

{% assign url = 'images/screenshots/embed-dailymotion.png' %}
{% assign thumburl = 'images/screenshots/embed-dailymotion-thumb.png' %}
{% assign id = 'Button_Dailymotion_Embed' %}
{% assign caption = 'botón de descargar debajo de un vídeo de Dailymotion embebido' %}
{% include screenshot.html %}

<p class="license"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es"><img alt="Licencia Creative Commons" style="border-width: 0;" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a><br>Todas las imágenes están bajo una <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.es">Licencia Creative Commons Atribución-CompartirIgual 3.0 Unported</a>.</p>
