---
layout: mp4downloader
shadowbox: 1
title: Screenshots
langs: {"English": "screenshots.html", "Español": "screenshots.es.html"}
---
<h2>Screenshots</h2>
<p>Click on an image to view a larger, more detailed version.</p>

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/toolbar.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/toolbar-button.png' %}
{% assign id = 'Toolbarbutton' %}
{% assign caption = 'Toolbar button' %}
{% include screenshot.html %}

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/options.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/options-thumb.png' %}
{% assign id = 'Optionsdialog' %}
{% assign caption = 'Options dialog' %}
{% include screenshot.html %}

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/video-page-button.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/video-page-button-thumb.png' %}
{% assign id = 'DownloadbuttonplacedinsideYouTubevideopage' %}
{% assign caption = 'Download button inside YouTube video page' %}
{% include screenshot.html %}

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/video-page-button-dailymotion.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/video-page-button-dailymotion-thumb.png' %}
{% assign id = 'DownloadbuttonplacedinsideDailymotionvideopage' %}
{% assign caption = 'Download button inside Dailymotion video page' %}
{% include screenshot.html %}

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/video-page-button-facebook.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/video-page-button-facebook-thumb.png' %}
{% assign id = 'DownloadbuttonplacedinsideFacebookvideopage' %}
{% assign caption = 'Download button inside Facebook video page' %}
{% include screenshot.html %}

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/video-page-button-vimeo.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/video-page-button-vimeo-thumb.png' %}
{% assign id = 'DownloadbuttonplacedinsideVimeovideopage' %}
{% assign caption = 'Download button inside Vimeo video page' %}
{% include screenshot.html %}

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/context-menu.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/context-menu-thumb.png' %}
{% assign id = 'Contextmenuofvideopage' %}
{% assign caption = 'Context menu of video page' %}
{% include screenshot.html %}

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/link-context-menu.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/link-context-menu-thumb.png' %}
{% assign id = 'Contextmenuoflinktovideo' %}
{% assign caption = 'Context menu of link to video' %}
{% include screenshot.html %}

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/embedded-video-button.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/embedded-video-button-thumb.png' %}
{% assign id = 'DownloadbuttonplacedbelowembeddedYouTubevideo' %}
{% assign caption = 'Download button below embedded YouTube video' %}
{% include screenshot.html %}

{% assign url = 'http://mp4downloader.mozdev.org/images/screenshots/embedded-video-button-vimeo.png' %}
{% assign thumburl = 'http://mp4downloader.mozdev.org/images/screenshots/embedded-video-button-vimeo-thumb.png' %}
{% assign id = 'DownloadbuttonplacedbelowembeddedVimeovideo' %}
{% assign caption = 'Download button below embedded Vimeo video' %}
{% include screenshot.html %}

<p class="license"><a href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width: 0;" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a><br>All screenshots are licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
